body{
    font-family: Arial, sans-serif;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
/*Container centralizado*/
.container{
    background-color: wheat;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    width: 350px;
}
/*titulo*/
h2{
    text-align: center;
    margin-bottom: 20px;
}
/*Campos de entrada*/
.login-from input{
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;

}
/*Botão*/
.from button{
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: wheat;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
.login-from button:hover{
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: wheat;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
.login-from button:hover{
    background-color: #0056b3;
}