<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Biblioteca</title>
    <link rel="stylesheet" href="../Static/indexStyle.css">
    <link rel="stylesheet" href="/Biblioteca/app.py">
   

</head>
<body>
    <!--inicio da pagina-->
    <h1>Bem-vindo ao Sistema De Gerenciamento De Biblioteca</h1>

    <al class="menu">
        <li><a href="cadastro_livros.HTML">Cadastro de Livros</a></li>
        <li><a href="cadastro_usuarios.HTML">Cadastro de Usuarios</a></li>
        <li><a href="lista_de_Usuario.HTML">Lista de Usuários</a></li>
        <li><a href="lista_livros.HTML">Lista de Livros</a></li> 
        <li><a href="login.HTML">Login</a></li>
    </al>    
      
     
        
</body>
</html>