<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Biblioteca</title>
    <link rel="stylesheet" href="../Static/indexStyle.css">
    <link rel="stylesheet" href="/Biblioteca/app.py">
    
    
   

</head>
<body>
    <!--inicio da pagina-->
    <h1>Bem-Vindo a Nova Biblioteca </h1>

    <al class="menu">
        <li><a href="Biblioteca_usuario.HTML"> inicio</a></li>
        <li><a href="lista_livros.HTML">Lista de Livros</a></li> 
        <li><a href="login.HTML">Login</a></li>
        
    </al>    
   
   
   <main>
        <h1>Lançamentos Futuros</h1>
        <section>
         <article>
            <h2>Bíblia Sagrada</h2>
            <img src="nono.jpg" alt="Biblia sagrada">
         </article>

         <aside>
            <h2>Biblia Sagrada</h2>
            <img src="/Lançamentos/A Fada Melusina.jpg" alt="A Fada Melusina">
         </aside>

         <article>
            <h2>O Pequeno Principe</h2>
            <img src="/Lançamentos/O Pequeno Principe.jpg" alt="O Pequeno Principe">
         </article>
         <article>
            <h2>Bíblia Sagrada</h2>
            <img src="/Lançamentos/Fábulas de Esopo.jpg" alt="Fábulas de Esopo">
         </article>

         <aside>
            <h2>Biblia Sagrada</h2>
            <img src="/Lançamentos/O Rouxinol e o Imperador.jpg" alt=" Rouxinol e o Imperador">
         </aside>

         <article>
            <h2>O Novo Testamento</h2>
            <img src="/Lançamentos/O Sol que Ensina a Brilhar.jpg" alt="O Sol que Ensina a Brilhar">
         </article>
        </section>
   </main>
   

</body>
</html>