<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Static/lista_de_livros.css">
    <link rel="stylesheet" href="/Static/modal.js">
    <title>Document</title>
</head>
<body>
    <h1>Bem-Vindo a Nova Biblioteca </h1>
    <h1>Lista de Livros</h1>

    <div class="books-grid" id="booksGrid">
    <!-- Book dos livros-->
        <div class="book" data-title="Republica de Platão">
        <a href="/data-link/Platão.pdf" target="_blank">
        <img src="/data-link/platão.jpg" alt="Capa Dom Quixote">
        <div class="title">Republica de Platão</div>
        <div class="author">Platão </div>
        <div class="Editora">ED:Independente</div>
        </a>
    
        </div>

        <div class="book" data-title=">O Banquete" >
        <i class="fa-solod fa-book icon"></i>    
        <a href="/platão O Banquete/PlataoOBanquete.pdf" target="_blank">
        <img src="/platão O Banquete/banquete.jpg" alt="Capa O Alquimista">
        <div class="title">O Banquete</div>
        <div class="author">Platão</div>
        <div class="Editora">ED:VirtualBooks</div>
        
        </a>
        </div>

        <div class="book" data-title="Senhora">
        <a href="/Senhora/Senhora.pdf" target="_blank">
        <img src="/Senhora/senhora.jpg" alt="José de Alencar">
        <div class="title">senhara</div>
        <div class="author">José de Alencar</div>
        <div class="Editora">ED:Câmaras Edições</div>
        </a>
        </div>

        <div class="book" data-title="O Alienista">
        <a href="/O Alienista/O Alienista.pdf" target="_blank">
        <img src="/O Alienista/alienista.jpg" alt="O Alienista">
        <div class="title">O Alienista</div>
        <div class="author">Machado de Assis</div>
        <div class="Editora">ED:Virtual Books</div>
        </a>
        </div>

        <div class="book" data-title="O Cortiço">
        <a href="/O Cortiço/O Cortiço.pdf" target="_blank">
        <img src="/O Cortiço/images.jpg" alt="Aluísio Azevedo">
        <div class="title">O Pequeno Príncipe</div>
        <div class="author">Aluísio Azevedo</div>
        <div class="Editora">ED:Edições Câmara</div>
        </a>
        </div>

        <div class="book" data-title="O Bobo">
        <a href="/O Bobo/O Bobo.pdf" target="_blank">   
        <img src="/O Bobo/O Bobo.jpg" alt=" Alexandre Herculano">
        <div class="title">O Bobo</div>
        <div class="author"> Alexandre Herculano</div>
        <div class="Editora">ED:LusoLivros(.net)</div>
        </a>
        </div>

        <div class="book" data-title="Iracema">
        <a href="/iracema/iracema.pdf" target="_blank">
        <img src="/iracema/iracema-290x315.jpg" alt="José de Alencar">
        <div class="title">Iracema</div>
        <div class="author">José de Alencar</div>
        <div class="Editora">ED:Biblioteca Nacional</div>
        </a>
        </div>

        <div class="book" data-title="Cinco Minutos">
        <a href="/cinco minuotos/cincominutos.pdf" target="_blank">
        <img src="/cinco minuotos/images.jpg" alt="José de Alencar">
        <div class="title">Cinco Minutos</div>
        <div class="author">José de Alencar</div>
        <div class="Editora">ED: MEC </div>
        </a>
        </div>

        <div class="book" data-title="O Guarani">
        <a href="/o guarani/o-guarani.pdf" target="_blank">
        <img src="/o guarani/images.jpg" alt="José de Alencar">
        <div class="title">O Guarani</div>
        <div class="author">José de Alencar</div>
        <div class="Editora">ED:Biblioteca Digital </div>
        </a>
        </div>

        <div class="book" data-title="A Viuvinha">
        <a href="/A Viuvinha/a_viuvinha.pdf" target="_blank">
        <img src="/A Viuvinha/images.jpg" alt="José de Alencar">
        <div class="title">A Viuvinha</div>
        <div class="author">José de Alencar</div>
        <div class="Editora">ED:Biblioteca Nacional </div>
        </a>
        </div>

        <div class="book" data-title="A ARTE DA GUERRA">
        <a href="/A Arte da Guerra/A-ARTE-DA-GUERRA.pdf" target="_blank">
        <img src="/A Arte da Guerra/capa_68989c7a7b2ca.jpg" alt="Sun Tzu">
        <div class="title">A Arte da Guerra</div>
        <div class="author">Sun Tzu</div>
        <div class="Editora">ED:Cultura Brasil </div>
        </a>
        </div>

        <div class="book" data-title="Cinco Minutos">
        <a href="/Rapunzel/rapunzel.pdf" target="_blank">
        <img src="/Rapunzel/images.jpg" alt="Rapunzel">
        <div class="title">Rapunzel</div>
        <div class="author"> Irmãos Grimm</div>
        <div class="Editora">ED:Bibliolibras</div>
        </a>
        </div>

    </div>
    
</body>
</html>